.App-header {
  background-color: #ffbf5b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
